.favoriteContainer{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    position: relative;
}

.favoriteContainer h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #6278F7;
    display: inline-block;
    margin-bottom: 80px;
    border-bottom: 4px solid #6278F7;
}

.favoriteContainer > img{
    position: absolute;
    right: 145px;
    top: 20px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .favoriteContainer > img{
        top: 100px;
        right: calc(85vw / 2);
    }
    
    .favoriteContainer h2{
        margin-bottom: 120px;
    }
}