.genres{
    text-align: center;
    padding: 32px;
    position: relative;
}

.genres .input-color{
    position: absolute;
    top: 20px;
    right: 50px;
}

.genres h3{
    font-size: 2rem;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 16px;
    font-weight: 400;
}

.genres .gameCardsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
}